.u-section-1 .u-sheet-1 {
  min-height: 687px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 50px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 487px;
}

.u-section-1 .u-container-layout-1 {
  padding: 13px 30px;
}

.u-section-1 .u-text-1 {
  margin-bottom: 0;
  margin-top: 0;
  font-weight: normal;
}

.u-section-1 .u-text-2 {
  font-size: 3.75rem;
  font-weight: normal;
  margin: 20px 0 0;
}

.u-section-1 .u-text-3 {
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 487px;
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-list-1 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 5px));
  min-height: 412px;
  grid-gap: 10px;
}

.u-section-1 .u-container-layout-3 {
  padding: 10px;
}

.u-section-1 .u-text-4 {
  font-size: 3rem;
  font-weight: normal;
  margin: 0;
}

.u-section-1 .u-text-5 {
  font-size: 0.875rem;
  margin: 44px 0 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 10px;
}

.u-section-1 .u-text-6 {
  font-size: 3rem;
  font-weight: normal;
  margin: 0;
}

.u-section-1 .u-text-7 {
  font-size: 0.875rem;
  margin: 44px 0 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 10px;
}

.u-section-1 .u-text-8 {
  font-size: 3rem;
  font-weight: normal;
  margin: 0;
}

.u-section-1 .u-text-9 {
  font-size: 0.875rem;
  margin: 44px 0 0;
}

.u-section-1 .u-container-layout-6 {
  padding: 10px;
}

.u-section-1 .u-text-10 {
  font-size: 3rem;
  font-weight: normal;
  margin: 0;
}

.u-section-1 .u-text-11 {
  font-size: 0.875rem;
  margin: 44px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 584px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 60px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 402px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 402px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 331px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 282px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 382px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-2 {
    font-size: 3rem;
  }

  .u-section-1 .u-text-4 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-6 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-text-8 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-text-10 {
    font-size: 3.75rem;
  }
} .u-section-2 {
  background-image: url("images/1c01a42e510e2902b9e08a893cc9ae79a98b7617b7a3ed7dea84c46fdb28ca210083ce9e900c25d6840bd5412ac952d4c7e96ee20dd0ca8a1e51a5_1280.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 716px;
}

.u-section-2 .u-group-1 {
  width: 505px;
  min-height: 487px;
  margin: 115px 0 60px auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 45px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-2 {
  margin: 27px 0 0;
}

.u-section-2 .u-btn-1 {
  letter-spacing: 3px;
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  font-weight: 400;
  margin: 20px auto 0 0;
  padding: 11px 48px 12px 46px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 590px;
  }

  .u-section-2 .u-text-1 {
    font-weight: normal;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 592px;
  }

  .u-section-2 .u-group-1 {
    width: 360px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.75rem;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 616px;
  }

  .u-section-2 .u-group-1 {
    width: 308px;
    min-height: 496px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-group-1 {
    width: 252px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 11px;
  }

  .u-section-2 .u-btn-1 {
    padding-left: 32px;
    padding-right: 32px;
  }
} .u-section-3 {
  background-image: linear-gradient(white, #999999);
  min-height: 1254px;
}

.u-section-3 .u-shape-1 {
  height: 866px;
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
}

.u-section-3 .u-text-1 {
  text-transform: none;
  font-size: 4.5rem;
  margin: -796px auto 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.5rem;
  width: 623px;
  font-weight: normal;
  margin: 34px auto 0;
}

.u-section-3 .u-gallery-1 {
  height: 728px;
  width: 1140px;
  grid-gap: 17px 17px;
  margin: 34px auto 0;
}

.u-section-3 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 17px;
}

.u-section-3 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-3 .u-btn-1 {
  letter-spacing: 3px;
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  font-weight: 400;
  margin: 44px auto 60px;
  padding: 11px 48px 12px 46px;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 1444px;
  }

  .u-section-3 .u-text-1 {
    font-family: Merriweather, serif;
  }

  .u-section-3 .u-gallery-1 {
    width: 940px;
    height: 600px;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 2293px;
  }

  .u-section-3 .u-gallery-1 {
    width: 720px;
    height: 1379px;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 5314px;
  }

  .u-section-3 .u-text-2 {
    width: 540px;
  }

  .u-section-3 .u-gallery-1 {
    width: 540px;
    height: 3103px;
  }

  .u-section-3 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 3537px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-2 {
    width: 340px;
  }

  .u-section-3 .u-gallery-1 {
    width: 340px;
    height: 1954px;
  }
} .u-section-4 {
  background-image: none;
  min-height: 793px;
}

.u-section-4 .u-shape-1 {
  width: calc(((100% - 1140px) / 2) + 442px);
  left: 0;
  right: auto;
  background-image: linear-gradient(#ccd3db, #b9c1cc);
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-4 .u-layout-wrap-1 {
  width: 1140px;
  margin: 60px auto;
}

.u-section-4 .u-image-1 {
  min-height: 657px;
  background-image: url("images/IMG_0304.JPG");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-2 {
  background-image: none;
  min-height: 657px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  text-transform: none;
  font-size: 1.875rem;
  margin: 0 auto 0 0;
}

.u-section-4 .u-form-1 {
  height: 334px;
  margin: 32px -60px 0 0;
}

.u-section-4 .u-btn-1 {
  border-style: none;
  width: 100%;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.125rem;
  letter-spacing: 2px;
  background-image: none;
}

.u-section-4 .u-text-2 {
  text-transform: none;
  font-size: 1.875rem;
  margin: 32px auto 0 0;
}

.u-section-4 .u-social-icons-1 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 188px;
  min-width: 124px;
  margin: 29px auto 0 0;
}

.u-section-4 .u-icon-1 {
  height: 100%;
}

.u-section-4 .u-icon-2 {
  height: 100%;
}

.u-section-4 .u-icon-3 {
  height: 100%;
}

.u-section-4 .u-icon-4 {
  height: 100%;
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 771px;
  }

  .u-section-4 .u-shape-1 {
    width: calc(((100% - 940px) / 2) + 334px);
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-4 .u-image-1 {
    min-height: 542px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 542px;
  }

  .u-section-4 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-4 .u-form-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-2 {
    font-size: 3rem;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-shape-1 {
    width: calc(((100% - 720px) / 2) + 267px);
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-4 .u-image-1 {
    min-height: 415px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 1438px;
  }

  .u-section-4 .u-shape-1 {
    height: 576px;
    margin-top: 0;
    margin-bottom: 0;
    width: auto;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 540px;
    margin-top: -516px;
  }

  .u-section-4 .u-image-1 {
    min-height: 667px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 1191px;
  }

  .u-section-4 .u-shape-1 {
    height: 321px;
    width: auto;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 340px;
    margin-top: -261px;
  }

  .u-section-4 .u-image-1 {
    min-height: 420px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.875rem;
  }
}